POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
PYTHONPATH=/app/src

REDIS_HOST=redis
REDIS_PORT=6379

OPENAI_API_KEY=